.header {
  display: flex;
  min-height: 4rem;
  padding-inline: calc(0.25rem * 8);
  align-items: center;
  margin: 0 120px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  &__title {
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;

     &--name {
       color: #3B6228;
       font-weight: 700;
       font-size: 1.25rem;
     }
  }

  &__actions {
    display: flex;
    margin-left: auto;
    gap: 28px;
    padding-right: 28px;
    border-right: 0.5px solid oklch(37.3% 0.034 259.733);
    font-size: 16px;
    color: oklch(37.3% 0.034 259.733);

    > * {
      cursor: pointer;
    }

    > *:hover {
      color: #3B6228;
    }

    ._selected {
      color: #4a7a35;
      font-weight: 600;
    }
  }

  &__media {
    display: flex;
    gap: 12px;
    margin-left: 20px;

    > * {
      cursor: pointer;
      width: 1.25rem;
      height: 1.25rem;
      color: oklch(0.707 0.022 261.325);
    }

    >:nth-child(1):hover {
      color: oklch(57.7% 0.245 27.325);
    }

    >:nth-child(2):hover {
      color: oklch(65.6% 0.241 354.308);
    }
  }

  &__hamburger {
    display: none;
    transition: 0.2s ease-in-out;
  }

  &__cancel {
    display: unset;
    margin-left: auto;
  }
}

.toolbar {
  padding: 16px;

  &__actions {
    > * {
      padding: 8px 12px;
      font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      color: oklch(37.3% .034 259.733);
      font-size: 16px;
    }

    ._selected {
      color: #4a7a35;
      background-color: #f0f7ec;
      border-radius: 5px;
    }
  }

  &__media {
    display: flex;
    gap: 12px;
    margin-left: 12px;
    margin-top: 12px;

    > * {
      cursor: pointer;
      width: 24px;
      height: 24px;
      color: oklch(0.707 0.022 261.325);
    }
  }
}


@media (max-width: 1498px) {
  .header {
    margin: 0 42px;
  }
}

@media (max-width: 767px) {
  .header {
    margin: 0;

    &__media,
    &__actions {
      display: none;
    }

    &__hamburger {
      display: unset;
      margin-left: auto;
    }
  }
}
